@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


/* NAV Area */

.nav-icons {
  font-size: 1.5rem !important;
}

/* Content Area */

.content-area {
  height: calc(100vh - 64px - 10px);
}

/* Shadow Border on White Cards */

.card-shadow {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(231,231,231,1);
  -moz-box-shadow: 0px 0px 15px 5px rgba(231,231,231,1);
  box-shadow: 0px 0px 15px 5px rgba(231,231,231,1);
}

/* Typing Effect in About Section */

.typing-effect {
  font-size: 24px;
  font-weight: bold;
}

.typing-effect span {
  border-right: 2px solid;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

/* Projects Animation */

.project-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.project-card.visible {
  opacity: 1;
  transform: translateY(0);
}
